 <!-- SLIDE TOP -->
	<div id="slidetop">

		<div class="container">

			<div class="row">

				<div class="col-md-4">
					<h6><i class="icon-heart"></i> WHY ROCKET ELEVATORS?</h6>
					<p>Because at Rocket Elevators, we create innovative solutions making people's experience safe, convenient and
						reliable.
					</p>
				</div>

				<div class="col-md-4">
					<h6><i class="fa-facheck"></i> RECENTLY VISITED</h6>
					<ul class="list-unstyled">
						<li><a href="index-onepage-rocket-elevator.html#services"><i class="fa fa-angle-right"></i> Services</a></li>
						<li><a href="index-onepage-rocket-elevator.html#portfolio"><i class="fa fa-angle-right"></i> Featured Work </a></li>
						<li><a href="index-onepage-rocket-elevator.html#contact"><i class="fa fa-angle-right"></i> Contact Us</a></li>
						<li><a href="index-onepage-rocket-elevator.html#clients"><i class="fa fa-angle-right"></i> Our clients</a></li>
						<li><a href="index-onepage-rocket-elevator.html#news"><i class="fa fa-angle-right"></i> Recent news</a></li>
					</ul>
				</div>

				<div class="col-md-4">
					<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
					<ul class="list-unstyled">
						<li><b>Address:</b> 725 Boulevard Lebourgneuf <br /> Québec, Qc, G2J 0C4</li>
						<li><b>Email:</b> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></li>
					</ul>
				</div>

			</div>

		</div>

		<a class="slidetop-toggle">
			<!-- toggle button --></a>

	</div>
	<!-- /SLIDE TOP -->


	<!-- wrapper -->
	<div id="wrapper">

		<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

			<!-- TOP NAV -->
			<header id="topNav">
				<div class="container">

					<!-- Mobile Menu Button -->
					<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="fa fa-bars"></i>
					</button>

					<!-- Logo -->
					<a class="logo float-left scrollTo" href="#top">
            <%= image_tag("_rocketelevators/R2.png") %>
						<!--<img src="assets/images/rocket_elevator/R2.png" alt="logo" />-->
					</a>

					<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
					<div class="navbar-collapse collapse float-right nav-main-collapse">
						<nav class="nav-main">

							<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
							<ul id="topMain" class="nav nav-pills nav-main ">
								<li>
									<!-- HOME -->
									<a href="index.html">
										HOME
									</a>
								</li>
								<li>
									<!-- SERVICES -->
									<a class="dropdown-toggle">
										SERVICES
									</a>
									<ul class="dropdown-menu">
										<li class="dropdown">
											<a href="page-residential.html">
												Residential services</a>
										</li>
										<li class="dropdown">
											<a href="page-corporate.html">
												Corporate services</a>
										</li>
									</ul>
								</li>
								<li>
									<!-- WORK -->
									<a href="index.html#portfolio">
										PORTFOLIO
									</a>
								</li>
								<li>
									<!-- NEWS -->
									<a href="index.html#news">
										NEWS
									</a>
								</li>

								<li>
									<!-- CLIENTS -->
									<a href="index.html#clients">
										CLIENTS
									</a>
								</li>

								<li>
									<!-- CONTACT -->
									<a href="index.html#contact">
										CONTACT
									</a>
								</li>
							</ul>

						</nav>
					</div>

				</div>
			</header>
			<!-- /Top Nav -->

		</div>

<section class="page-header">
	<div class="container">
		<h1 class="font-size: 35px; center: center;">YOUR QUOTE, <br /> Select the type of building first
		</h1>
	</div>
</section>
<!-- tabs -->
<ul class="nav nav-button-tabs mb-3 nav-justified nav-tabs" role="tablist">
	<li class="nav-item">
		<a class="nav-link" id="residential-tab-button" data-toggle="tab" href="#residential" role="tab" aria-controls="tab-residential"
		 aria-selected="false">Residential</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="commercial-tab-button" data-toggle="tab" href="#commercial" role="tab" aria-controls="tab-commercial"
		 aria-selected="false">Commercial</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="corporate-tab-button" data-toggle="tab" href="#corporate" role="tab" aria-controls="tab-corporate"
		 aria-selected="false">Corporate</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="hybrid-tab-button" data-toggle="tab" href="#hybrid" role="tab" aria-controls="tab-hybrid"
		 aria-selected="false">Hybrid</a>
	</li>
</ul>




<div class="tab-content">
	<!-- Residential Form -->
	<div class="tab-pane fade show" id="residential" role="tabpanel" aria-labelledby="residential-tab">
		<section>
			<div class="card-block">
				<form id="resForm">
					<fieldset>

						<input type="hidden" />
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<label>How Many Apartments *</label>
								<input id="resApartmentsNb" type="number" class="form-control required" onchange="resQuote()" onkeyup="resQuote()">
							</div>
							<div class="col-md-4 col-sm-6">
								<label>How Many Floors *</label>
								<input id="resFloorsNb" type="number" class="form-control required" onchange="resQuote()" onkeyup="resQuote()">
							</div>
							<div class="col-md-4 col-sm-6">
								<label>How Many Basements *</label>
								<input id="resBsmtNb" type="number" class="form-control required" onchange="resQuote()" onkeyup="resQuote()">
							</div>
						</div>
						<hr>
						<div class="col-md-14 text-center">
							<label>Number Of Elevators Required</label>
							<input id="resElev" type="text" readonly disabled>
						</div>
						<hr>


						<h3 class="text-center">Please select your plan</h3>

						<!-- radio -->
						<div class="button-radio text-center">

							<label class="radio col-md-1">
								<input id="resStandard" type="radio" name="radio-btn" onchange="resQuote()">
								<i></i> Standard
							</label>
							<label class="radio col-md-1">
								<input id="resPremium" type="radio" name="radio-btn" checked="checked" onchange="resQuote()">
								<i></i> Premium
							</label>
							<label class="radio col-md-1">
								<input id="resExcelium" type="radio" name="radio-btn" onchange="resQuote()">
								<i></i> Excelium
							</label>

						</div>
						<hr>
						<div class="col-md-14 text-center">
							<label>Total Price</label>
							<input id="resPrice" type="text" readonly disabled>
						</div>

					</fieldset>
				</form>
			</div>
		</section>
	</div>
	<!-- /Residential -->


	<!-- Commercial -->
	<div class="tab-pane fade show" id="commercial" role="tabpanel" aria-labelledby="commercial-tab">
		<section>
			<div class="card-block">
				<form id="comForm">
					<fieldset>

						<input type="hidden" />
						<div class="row center">
							<div class="col-md-4 col-sm-6">
								<label>How Many Shops *</label>
								<input id="comShopsNb" type="number" class="form-control required" onchange="comQuote()" onkeyup="comQuote()">
							</div>
							<div class="col-md-4 col-sm-6">
								<label>How Many Floors *</label>
								<input id="comFloorsNb" type="number" class="form-control required" onchange="comQuote()" onkeyup="comQuote()">
							</div>
							<div class="col-md-4 col-sm-6">
								<label>How Many Basements *</label>
								<input id="comBsmtNb" type="number" class="form-control required" onchange="comQuote()" onkeyup="comQuote()">
							</div>
							<div class="col-md-4 col-sm-6">
								<label>How Many Parking Slots *</label>
								<input id="comParkingNb" type="number" class="form-control required" onchange="comQuote()" onkeyup="comQuote()">
							</div>
							<div class="col-md-4 col-sm-6">
								<label>How Many Elevators to deploy *</label>
								<input id="comElevatorNb" type="number" class="form-control required" onchange="comQuote()" onkeyup="comQuote()">
							</div>
						</div>

						<hr>
						<h3 class="text-center">Please select your plan</h3>

						<!-- radio -->
						<div class="button-radio text-center">
							<label class="radio col-md-1">
								<input id="comStandard" type="radio" name="radio-btn" onchange="comQuote()">
								<i></i> Standard
							</label>
							<label class="radio col-md-1">
								<input id="comPremium" type="radio" name="radio-btn" checked="checked" onchange="comQuote()">
								<i></i> Premium
							</label>
							<label class="radio col-md-1">
								<input id="comExcelium" type="radio" name="radio-btn" onchange="comQuote()">
								<i></i> Excelium
							</label>
						</div>
						<hr>
						<div class="col-md-14 text-center">
							<label>Total Price</label>
							<input id="comPrice" type="text" readonly disabled>
						</div>

					</fieldset>
				</form>
			</div>
		</section>
	</div>
	<!-- /commercial -->

	<!-- Corporate -->
	<div class="tab-pane fade show" id="corporate" role="tabpanel" aria-labelledby="corporate-tab">
		<section>
			<div class="card-block">
				<form id="corpForm">
					<fieldset>

						<input type="hidden" />
						<div class="row center">
							<div class="col-md-4 col-sm-6">
								<label>How Many Tenant Businesses *</label>
								<input id="corpBusinessNb" type="number" class="form-control required" onchange="corpQuote()" onkeyup="corpQuote()">
							</div>
							<div class="col-md-4 col-sm-6">
								<label>How Many Floors *</label>
								<input id="corpFloorsNb" type="number" class="form-control required" onchange="corpQuote()" onkeyup="corpQuote()">
							</div>
							<div class="col-md-4 col-sm-6">
								<label>How Many Basements *</label>
								<input id="corpBsmtNb" type="number" class="form-control required" onchange="corpQuote()" onkeyup="corpQuote()">
							</div>
							<div class="col-md-4 col-sm-6">
								<label>How Many Parking Slots *</label>
								<input id="corpParkingNb" type="number" class="form-control required" onchange="corpQuote()" onkeyup="corpQuote()">
							</div>
							<div class="col-md-4 col-sm-6">
								<label>Max Occupants Per Floor *</label>
								<input id="corpOccupantsNb" type="number" class="form-control required" onchange="corpQuote()" onkeyup="corpQuote()">
							</div>
						</div>
						<hr>
						<div class="col-md-14 text-center">
							<label>Number Of Elevators Required</label>
							<input id="corpElev" type="text" readonly disabled>
						</div>
						<hr>


						<h3 class="text-center">Please select your plan</h3>

						<!-- radio -->
						<div class="button-radio text-center">
							<label class="radio col-md-1">
								<input id="corpStandard" type="radio" name="radio-btn" onchange="corpQuote()">
								<i></i> Standard
							</label>
							<label class="radio col-md-1">
								<input id="corpPremium" type="radio" name="radio-btn" checked="checked" onchange="corpQuote()">
								<i></i> Premium
							</label>
							<label class="radio col-md-1">
								<input id="corpExcelium" type="radio" name="radio-btn" onchange="corpQuote()">
								<i></i> Excelium
							</label>
						</div>
						<hr>
						<div class="col-md-14 text-center">
							<label>Total Price</label>
							<input id="corpPrice" type="text" readonly disabled>
						</div>

					</fieldset>
				</form>
			</div>
		</section>
	</div>
	<!-- /Corporate -->

	<!-- Hybrid -->
	<div class="tab-pane fade show" id="hybrid" role="tabpanel" aria-labelledby="hybrid-tab">
		<section>
			<div class="card-block">
				<form id="hybForm">
					<fieldset>

						<input type="hidden" />
						<div class="row center">
							<div class="col-md-4 col-sm-6">
								<label>How Many Shops *</label>
								<input id="hybShopsNb" type="number" class="form-control required" onchange="hybQuote()" onkeyup="hybQuote()">
							</div>
							<div class="col-md-4 col-sm-6">
								<label>How Many Floors *</label>
								<input id="hybFloorsNb" type="number" class="form-control required" onchange="hybQuote()" onkeyup="hybQuote()">
							</div>
							<div class="col-md-4 col-sm-6">
								<label>How Many Basements *</label>
								<input id="hybBsmtNb" type="number" class="form-control required" onchange="hybQuote()" onkeyup="hybQuote()">
							</div>
							<div class="col-md-4 col-sm-6">
								<label>How Many Parking Slots *</label>
								<input id="hybParkingNb" type="number" class="form-control required" onchange="hybQuote()" onkeyup="hybQuote()">
							</div>
							<div class="col-md-4 col-sm-6">
								<label>Max Occupants Per Floor *</label>
								<input id="hybOccupantsNb" type="number" class="form-control required" onchange="hybQuote()" onkeyup="hybQuote()">
							</div>
							<div class="col-md-4 col-sm-6">
								<label>Max Business Hours Per Day *</label>
								<input id="hybHoursNb" type="number" class="form-control required" onchange="verifHours()" onkeyup="verifHours()">
							</div>
						</div>
						<hr>
						<div class="col-md-14 text-center">
							<label>Number Of Elevators Required</label>
							<input id="hybElev" type="text" readonly disabled>
						</div>
						<hr>


						<h3 class="text-center">Please select your plan</h3>

						<!-- radio -->
						<div class="button-radio text-center">
							<label class="radio col-md-1">
								<input id="hybStandard" type="radio" name="rdo-btn" onchange="hybQuote()">
								<i></i> Standard
							</label>
							<label class="radio col-md-1">
								<input id="hybPremium" type="radio" name="rdo-btn" checked="checked" onchange="hybQuote()">
								<i></i> Premium
							</label>
							<label class="radio col-md-1">
								<input id="hybExcelium" type="radio" name="rdo-btn" onchange="hybQuote()">
								<i></i> Excelium
							</label>
						</div>
						<hr>
						<div class="col-md-14 text-center">
							<label>Total Price</label>
							<input id="hybPrice" type="text" readonly disabled>
						</div>

					</fieldset>
				</form>
			</div>
		</section>
	</div>
	<!-- /Hybrid -->

</div>

</div>
<!-- JUSTIFIED TAB -->

<!-- FOOTER -->
    <footer id="footer">
      <div class="container">


        <div class="row">

          <!-- col #1 -->
          <div class="col-md-8">

            <h3 class="letter-spacing-1">WHY US?</h3>

            <!-- Small Description -->
            <p>
              At Rocket Elevator, we’re dedicated to moving people, not just physically but emotionally as well.
            </p>

          </div>
          <!-- /col #1 -->

          <!-- col #2 -->
          <div class="col-md-4">
            <h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

            <!-- Newsletter Form -->
            <p>Subscribe to Our Newsletter to get Important News & Offers</p>

            <form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!"
            data-toastr-position="bottom-right">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
                <span class="input-group-btn">
                  <button class="btn btn-success" type="submit">Subscribe</button>
                </span>
              </div>
            </form>
            <!-- /Newsletter Form -->


          </div>
          <!-- /col #2 -->

        </div>


      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <li>Terms &amp; Conditions</li>
            <li>&bull;</li>
            <li>Privacy</li>
          </ul>
          &copy; All Rights Reserved, Company LTD
        </div>
      </div>

    </footer>
    <!-- /FOOTER -->

    </div>
    <!-- /wrapper -->


    <!-- SCROLL TO TOP -->
    <a href="#top" id="toTop"></a>